---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<Base title={title} description={description}>
  <slot name="head" />
  <div class="max-w-2xl mx-auto px-4 sm:px-6 md:px-8 py-8 md:py-12">
    <article class="prose dark:prose-invert">
      <slot />
    </article>
  </div>
</Base>
